.page {
  width: 1280px;
  margin: 0 auto;

  background-color: aliceblue;
}

.p001 {
  font-size: 48px;
  background-color: aqua;
}

#map {
  height: 520px;
  width: 100%;
  border-radius: 12px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.form {
  width: 300px;
}
